body {
  width: 100%;
  text-transform: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.3em;
}


/*Landing page*/

.landing-content {
  background: #0D83DD;
  color: #fff;
  opacity: 0.9;
}

.full-width {
  width: 100%;
}

md-toolbar.toolbar {
  background: #0D83DD;
  color: #fff;
}

.logo {
  font-family: 'Lobster', cursive;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 150px #fff;
}

.home-info {
  width: 100%;
  padding: 3%;
}

.home-button {
  width: 100%;
  text-transform: none;
}

.small {
  font-size: 24px;
  font-weight: lighter
}

.white-border {
  border: 1px solid #fff;
}

.black-border {
  border: 1px solid #424249;
}

.box {
  width: 50%;
}

.role-display {
  width: 400px;
}

.roles-display {
  height: 400px;
}

.controls {
  background: #424249;
  color: #fff;
}

.md-button.primary-button {
  color: #fff;
  background: #00cc66;
}

.md-button:hover.primary-button:hover {
  color: #fff;
  background: #00cc66;
  opacity: 0.7;
}


/*dashboard*/

.container {
  padding: 50px 150px 0 150px;
}

.doc-container {
  padding-bottom: 30%;
  background: #424249;
  opacity: 0.9;
}

.role-container {
  padding-bottom: 30%;
  color: #0D83DD;
  font-size: 0.9em;
}

.files-content {
  margin: 0 15% 0 15%;
}

.add-image {
  width: 100%;
  height: 100%;
  border: 1px solid #666;
}

md-card.tile {
  width: 100%;
  height: 98%;
  margin: 0px;
}

.title-display {
  margin-top: 0px;
  border-bottom: 1px solid #666;
  padding-bottom: 7px;
  margin-bottom: 10px
}

.content-display {
  font-size: 1%;
}

md-grid-tile-footer.footer {
  height: 1%;
}

.margin-left {
  margin-left: 75px;
}

.full {
  width: 100%;
  height: 100%;
}

textarea.full {
  width: 100%;
  height: 100%
}

.no-padding {
  margin: 0;
  padding: 0;
}

.fa-style {
  margin: 0 5px 0 5px;
}

.color-greenish {
  color: #00cc66;
}

.color-bluish {
  color: #0D83DD;
}

.color-white {
  color: #fff;
}

.color-blackish {
  color: #424249;
}

.login-container {
  margin-top: 5%;
  padding-bottom: 30%;
  color: #0D83DD;
  font-size: 1.1em;
}

md-input-container .md-select {
  color: #fff;
}

md-input-container.push {
  padding-bottom: 10px;
  width: 100%;
}

md-input-container.push label,
md-input-container.push .md-placeholder {
  color: #fff !important;
}

md-input-container.push .md-input {
  height: 45px;
}

md-input-container.push:not(.md-input-invalid).md-input-focused .md-input {
  border-color: #fff;
  height: 70px;
}

md-input-container.pop {
  padding-bottom: 10px;
  width: 100%;
}

md-input-container.pop.md-input-focused label,
md-input-container.pop.md-input-focused .md-placeholder {
  color: #00cc66 !important;
}

md-input-container.pop .md-input {
  height: 45px;
}

md-input-container.pop:not(.md-input-invalid).md-input-focused .md-input {
  border-color: #00cc66;
  height: 70px;
}


/* site footer*/

.footer {
  margin-bottom: 0;
  color: #fff;
  font-size: 1em;
  background: #424249;
}
