doctype html
html(lang="en" ng-app="docbay")
	head
		include shared/head
	body
		main.wrapper
			include shared/header
			include views/roles
			include views/profile
			include views/changepassword
			md-content.main-content(ui-view)
	footer.footer
		div.footer(layout="row" layout-align="center end")
			p &copy; 2016 Docbay A project by Owoade Dotun, ANDELA #TIA 