doctype html
html(lang="en" ng-app="docbay")
  head
    include shared/head
  body
    main
      include shared/header	
      md-content.main-content(ui-view)
    footer
      div.footer(layout="row" layout-align="center end")
        p(style="text-align:center") Owoade Dotun 