base(href='/')
meta(charset='utf-8')
meta(name='description' content='Writing made easy')

// Angular material style
link(rel="stylesheet" href="lib/angular-material/angular-material.min.css")
link(rel='stylesheet' type='text/css' href='css/app.css')
link(rel='stylesheet' href="lib/font-awesome/css/font-awesome.min.css")
link(href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css')

// Angular material javascript dependencies
script(src="lib/angular/angular.min.js")
script(src="lib/angular-ui-router/release/angular-ui-router.min.js")
script(src="lib/angular-aria/angular-aria.min.js")
script(src="lib/angular-animate/angular-animate.min.js")
script(src="lib/angular-material/angular-material.min.js")
script(src="lib/angular-resource/angular-resource.min.js")
script(src="lib/angular-route/angular-route.min.js")


script(src="js/application.js")
title Docbay