div.controls(layout-align="center center")
	div(layout="row" layout-align="end center")
		md-button(ui-sref="documents" aria-label="Documents") 
			md-tooltip Files 
			i.fa.fa-file
		md-button(ui-sref="roles" aria-label="roles")
			md-tooltip Roles
			i.fa.fa-users