md-sidenav(class="md-sidenav-right md-whiteframe-z2" md-component-id="changepassword")
	div(ng-controller="loginCtrl" ng-if="!currentUser")
		include login
	div.role-container(ng-controller="userCtrl" ng-if="currentUser" ng-init="init()")
		md-toolbar.toolbar
			h1.md-toolbar-tools Change Password
		div.md-padding(layout="column" layout-align="center center" flex)
			form.md-padding(name="form" ng-submit="update()")
				div(layout-gt-xs="row" layout-xs="column")
					md-input-container.md-block.pop
						label Password
						input(ng-model="user.password" name="pass" type="password" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])(?=.{8,})/" required)
						div(ng-messages="form.pass.$error")
							div(ng-message="required") required.
							div(ng-message="pattern") Please provide a valid password(must be at least 8 characters and contain both uppercase and lowercase letters and a number or special character).	
				div(layout="column" layout-align="center center")
					md-button.md-raised.home-button.primary-button(type="submit") Update
				
				
