md-dialog.full(aria-label="Editing" ng-init="init()")
	form(ng-submit="save()" name="form")
		div.docbar.md-padding(layout="row" layout-align="start end")
			div.md-toolbar-tools
				md-input-container.push
					label Title
					input(ng-model="doc.title" required)
				span(flex)
				md-button(type="submit" ng-disabled="form.$invalid") Save
				md-button(ng-click="close()") Close
		md-dialog-content
			div.md-dialog-content(flex)
				md-input-container
					label
					div(text-angular ta-disabled="disabled" ng-model="doc.content")

					