md-dialog.full(aria-label="New Document" ng-init="init()")
	form(name="form" ng-submit="save()")
		div.docbar.md-padding(layout="row" layout-align="start end")
			div.md-toolbar-tools
				md-input-container.push
					label Title
					input(ng-model="doc.title" name="title" required)
				span(flex)
				md-button(type="submit" ng-disabled="form.$invalid") Save
				md-button(ng-click="close()") Close
		md-dialog-content
			div.md-dialog-content(flex)
				md-input-container
					label
					div(text-angular ta-disabled="disabled" ng-model="doc.content")
				div(layout="row" layout-align="end center")
					p.color-bluish Share with: 
					md-input-container.push
						label Select roles
						md-select(ng-model="doc.role" multiple required)
							md-option(ng-value="role._id" ng-model-options="{trackBy: '$value'}" ng-repeat="role in roles") {{role.title}}
