md-dialog.full(aria-label="New Document" ng-init="init()")
	form(name="form" ng-submit="save()" )
		md-toolbar.toolbar
			div.md-toolbar-tools
				md-input-container.push
					label Title
					input(ng-model="doc.title" name="title" required)
				span(flex)
				md-input-container.push
					div(layout="row")
						h6 Share with: 
						label share
						md-select(ng-model="doc.role" multiple required)
							md-option(ng-value="role._id" ng-model-options="{trackBy: '$value'}" ng-repeat="role in roles") {{role.title}}
				md-button(type="submit" ng-disabled="form.$invalid") Save
				md-button(ng-click="close()") Close
		md-dialog-content
			div.md-dialog-content(flex)
				md-input-container.md-whiteframe-z2.full(flex)
					label
					textarea(class="full" ng-model="doc.content" columns="1" md-maxlength="1500" rows="500")
