md-dialog(aria-label="Members" ng-init="init()")
	md-toolbar.toolbar
		div.md-toolbar-tools
			h1.md-title {{role.title}}
			span(flex)
			md-button(ng-click="close()") Close
	md-dialog-content
		div.md-dialog-content(flex layout="row" layout-align="center center")
			md-list.md-padding(layout="column")
				md-list-item(ng-repeat="member in members")
					div(layout="row" layout-xs="column" layout-align="center center")
						i.fa.fa-user.fa-style.color-greenish
						span(flex) {{member.name.last}} {{member.name.first}} ({{member.email}})


